.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #fff;
    color: #333;
    font-family: 'Arial', sans-serif;
}

.home h1 {
    font-size: 2rem;
    color: #2255a4;
}

.home p {
    font-size: 1.2rem;
}

.home button {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.home button:hover {
    background-color: #0056b3;
}
