.search-container {
    padding: 20px;
    display: flex;
    align-items:center;
    width:100%;
}
.search-input {
    margin-bottom: 20px;
    width:80%;
}
.options-fieldset {
    width:80%;
    margin-bottom: 10px;
}
.form-group {
    margin-bottom: 20px;
}